{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Clone</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" width="" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'index' %}" class="navbar-item"><span class="material-icons">home</span>Home</a>
          <a class="navbar-item"><span class="material-icons">explore</span>Explore</a>
          <a class="navbar-item"><span class="material-icons">notifications</span>Notification</a>
          <a class="navbar-item"><span class="material-icons">inbox</span>Inbox</a>
          <a class="navbar-item" href="{% url 'new_post' %}"><span class="material-icons" style="color: green;">perm_media</span><strong>New Post</strong></a>
          <a class="navbar-item"><span class="material-icons">face</span>Profile</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Settings</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">Change Password</a>
              <a class="navbar-item">Contact</a>
              <a class="navbar-item">Report an issue</a>
              <hr class="navbar-divider">
              <a href="{% url 'logout' %}" class="navbar-item">Log out</a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="button is-light">Log out</a>
              {% else %}
              <a class="button is-primary"><strong>Sign up</strong></a>
              <a href="{% url 'login' %}" class="button is-light">Log in</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        {% block banner %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagination %}
        {% endblock %}
      </div>
    </section>
  </body>
</html>
