{% extends 'base.html' %}
{% load static %}
{% block content %}
<article class="media">
  <div class="media-left">
    <figure class="image is-256x256">
      <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <h1 style="font-weight: bold;" class="title is-1">{% if profile.first_name %}{{ profile.first_name }} {{ profile.last_name }}{% endif %}</h1>
      <a href="#"><h2 class="subtitle is-3">@{{ profile.user }}</h2></a>
      <div class="media-right">
        <button class="button is-success">Follow</button>
      </div>
    </div>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Posts</p>
          <p class="title">{{ post_count }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">{{ following_count }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">{{ follower_count }}</p>
        </div>
      </div>
    </nav>
    <p class="subtitle is-5">{% if profile.profile_info %}{{ profile.profile_info }}{% endif %}</p>
    {% if user.is_authenticated and user == profile.user %}
    <button class="button">Edit profile</button>
    {% endif %}
  </div>
</article>
</div>
</section>
<section class="section">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li class="{% if url_name == 'profile' %}is-active{% endif %}"><a href="{% url 'profile' profile.user %}"><i class="material-icons">dashboard</i>Posts</a></li>
        <li class="{% if url_name == 'profile_favorite' %}is-active{% endif %}"><a href="{% url 'profile_favorite' profile.user %}"><i class="material-icons">save_alt</i>Saved</a></li>
      </ul>
    </div>
    <div class="columns is-mobile is-multiline is-centered">
      {% for post in posts %}
      <div class="column is-one-quarter">
        <div class="box">
          <figure class="image is-256x256">
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.picture.url }}" alt="Image"></a>
          </figure>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
