<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Clone</title>
    <link rel="stylesheet" href="css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" width="" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"><span class="material-icons">home</span>Home</a>
          <a class="navbar-item"><span class="material-icons">explore</span>Explore</a>
          <a class="navbar-item"><span class="material-icons">notifications</span>Notification</a>
          <a class="navbar-item"><span class="material-icons">inbox</span>Inbox</a>
          <a class="navbar-item"><span class="material-icons">face</span>Profile</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Settings</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">Change Password</a>
              <a class="navbar-item">Contact</a>
              <a class="navbar-item">Report an issue</a>
              <hr class="navbar-divider">
              <a class="navbar-item">Log out</a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <article class="media">
          <div class="media-left">
            <figure class="image is-256x256">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h1 style="font-weight: bold;" class="title is-1">@codewithshaon</h1>
              <h2 class="subtitle is-3">Rezaul Karim Shaon</h2>
              <div class="media-right">
                <button class="button is-success">Follow</button>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Tweets</p>
                  <p class="title">3,456</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Following</p>
                  <p class="title">123</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Followers</p>
                  <p class="title">456K</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Likes</p>
                  <p class="title">789</p>
                </div>
              </div>
            </nav>
            <p class="subtitle is-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button class="button">Edit profile</button>
          </div>
        </article>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li class="is-active"><a href="#"><i class="material-icons">dashboard</i>Posts</a></li>
            <li class=""><a href="#"><i class="material-icons">save_alt</i>Saved</a></li>
          </ul>
        </div>
        <div class="columns is-mobile is-multiline is-centered">
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="box">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
